div#login-popup td {
   font-size: 11px;
   padding: 5px 8px 3px;
}

div#login-popup td#login-message {
   font-size: small;
   font-weight: bold;
}

div#login-popup input {
   background-color: #ffffff;
   border: 1px solid #bbbbbb;
   padding-left: 4px;
}
