h1 {
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #c5e1a5;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #7cb342;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    padding: 10px;
    text-align: left;
    text-transform: none;
}


h2
{
   text-align:left;
   width:100%;
   height:20px;
   font-size:14px;   
   font-weight:bolder;
   color:#4caf50;
   padding-bottom:5px;
   margin:0px;
   /* temp transitional style */
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 0.105em;
}

h3
{
   margin:0px;
   font-size:11px;   
   font-weight:bolder;
   color:#222222;
   width:100%;
   height:20px; 
   padding:2px;
   padding-right:10px; `  
}

h3 a
{
   color:#222222;
   position:relative;
   left:-13px;
   /* temp transitional style */
   text-decoration:none;
}

div.h1
{
   width:95%;
   text-align:left;
   /* temp transitional style */
   background: none;
   width:100%;
   height:22px;
   margin-top: 0px;
   font-weight: 400;
   font-size: 22px;
   text-transform: none;
   color: #7cb342;
   padding-top: 10px;
   padding-bottom: 25px;
   border-color: -moz-use-text-color -moz-use-text-color #c5e1a5;
   border-style: none none solid;
   border-width: 0 0 2px;
}

div.h1 span.h1
{
   text-transform:none;
   text-align:left;
}

div.h1 a
{
   /* temp transitional style */
   text-decoration: none;
}

div.h1_link
{
   height:30px;
   float:left;
   padding-left:10px;
   padding-top:3px; 
}

div.h1_button
{
   float:right;
   margin-right: -5px;
}

div.h2
{
   text-align:left;
   width:95%;
   height:30px;
   padding:0px;
   padding-top:10px;
}

div.h2 span.h2
{
   font-size:14px;   
   font-weight:bolder;
   padding:0px;
   padding-bottom:10px;
   color:#4D7500;      
   text-transform:none;
   text-align:left;
   /* temp transitional style */
   text-transform: uppercase;
   font-size: 11px;
}

div.h2 a
{
   /* temp transitional style */
   text-decoration: none;
}

div.h2_link
{
   height:30px;
   float:left;
}

div.h2_button
{
   float:right;
}

div#user_info
{
   text-align:left;
   padding:10px;
   width:590px;
}

div#group_info
{
   text-align:left;
   padding:10px;
   width:640px;
}

div#membership
{
   text-align:left;
   padding:10px;
   width:590px;
   height:210px;
}

div#roles_membership
{
   text-align:left;
   padding:10px;
   width:590px;
}

div#effective_permissions
{
   text-align:left;
   padding:10px;
   padding-bottom:0px;
   width:590px;
}

div#permissions_set
{
   height:20px;
   position:relative;
   top:-22px;
   left:220px;
   width:265px;
}

div#permissions
{
   text-align:left;
   padding:10px;
   width:640px;
}

div.access_control, div.workarea
{
    /*
   border:1px solid #A0A0A0;
   border-collapse:collapse;
   background-color:#FFFFFF;
   background: #dcdfce url("/images/table-fade-bg.gif") top left repeat-x;
   border:2px solid #ADB1A5;
    */
   width: 80%; 
   margin-bottom:30px;
}

div.border_green
{
   width:95%;
   height:5px;
   background-color:#71B13C;
   padding:0px;
   display:block;
   /* temp transitional style */
   display:none;
}   

div.border_grey
{
   width:95%;
   height:2px;
   background-color:#D7D7D7;
   padding:0px;
   /* temp transitional style */
   width:100%;
   height: 0px;
   border-bottom: 1px #adb1a5 dotted;
}   

div.detail_header
{
   height:30px;
}

div.user_name_text
{
   font-size:14px;   
   font-weight:600;
   color:#222222;
   padding: 0px 0px 10px 20px;
   word-wrap: break-word;
}   

div.label_text
{
   font-size:12px;   
   font-weight: 600;
   color:#222222;
   padding:2px;
   padding-right:10px;      
   width:150px;
   word-wrap: break-word;
}   

div.label_permissions
{
   font-size:10px;   
   font-weight:bolder;
   color:#222222;
   padding:2px; 
   width:190px;
   height:20px;
}   

div.value_text
{
   font-size:12px;   
   color:#222222;
   padding:2px;
   width:384px;
   position:relative;
   left:150px;
   top:-20px;
   word-wrap: break-word;
}   

div.field_text
{
   font-size:11px;   
   color:#222222;
   padding:2px;
   width:352px;
   /*height:20px;*/
   position:relative;
   left:150px;
   top:-27px;
}   

div.field_textarea
{
   font-size:11px;   
   color:#222222;
   padding:2px;
   width:356px;
   /*height:30px;*/
   position:relative;
   left:150px;
   top:-24px;
}   

div.label_strong_checkbox
{
   font-size:11px;   
   font-weight:bolder;
   color:#222222;
   padding:2px;
   padding-right:10px; 
   width:200px;
}   

div.label_strong_checkbox_disabled
{
   font-size:11px;   
   font-weight:bolder;
   color:#222222;
   padding:2px;
   padding-right:10px; 
   width:200px;
   opacity:0.5;    
}   

div.label_checkbox
{
   font-size:11px;   
   color:#222222;
   padding:2px;
   padding-right:10px; 
   width:200px;
}   

div.label_checkbox_disabled
{
   font-size:11px;   
   color:#222222;
   padding:2px;
   padding-right:10px; 
   width:200px;
   opacity:0.5;
   filter: alpha(opacity = 50);    
}   

div.viewable
{
   width:330px;
   height:20px;
   padding:0px;
   padding-left:10px;
   margin:0px;
   font-size:10px;
}

div.viewable span
{
   font-size:10px;
}

div.reconfigurable
{
   width:65px;
   height:20px;
   padding:0px;
   margin:0px;
   position:relative;
   left:200px;
   top:-20px;
   font-size:10px;
}

div.startstopenabled
{
   width:85px;
   height:20px;
   padding:0px;
   margin:0px;
   position:relative;
   left:265px;
   top:-40px;
   font-size:10px;
}

div.exportenabled 
{
   width:95px;
   height:20px;
   padding:0;
   margin:0;
   position:relative;
   left:350px;
   top:-60px;
   font-size:10px;
}

div.view_logs_enabled  {
width:85px;
height:20px;
padding:0;
margin:0;
position:relative;
left:445px;
top:-80px;
font-size:10px;
}

div.translator_ide_enabled  {
width:100px;
height:20px;
padding:0;
margin:0;
position:relative;
left:530px;
top:-100px;
font-size:10px;
}

div.excluded_membership_set
{
   width:246px;
   height:155px;
   margin-right:10px; 
   float:left;
}

div.membership_buttons
{
   margin-top:20px;
   float:left;
}

div.membership_buttons a.button
{
   width:26px;
}

div.included_membership_set
{
   width:246px;
   height:155px;
   margin-left:10px;
   float:left;
}

div.custom_multi_select
{
   background:#FFFFFF;
   height:100px;
   width:233px;
   padding:5px;
   margin:0px;
   overflow:auto;
   white-space:nowrap;
}

div.custom_multi_select_edit
{
   background:#FFFFFF;
   height:100px;
   width:233px;
   padding:5px;
   margin:0px;
   overflow:auto;
   white-space:nowrap;
}

div.membership_count
{
   width:189px;
   text-align:center;
   padding-left:5px;
   padding-right:5px;
   padding-top:2px;
   margin:0px;
}

div#roles, 
div#users {
   padding-top: 20px;
}

div.list
{
   text-align:left;
}

div.buttons
{
   width:200px;
   height:22px;
   line-height:22px;
   padding:10px;
}

div#side_header
{ 
   padding-top:10px; 
   height:25px;
}

div.list_row
{  
   padding: 0 10px;
}

div.list_row_details
{
   padding: 10px 0;
   margin: 15px 12px;
   overflow:auto;
   box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.3);
   border-radius: 4px;
   background-color: rgba(255,255,255,0.5);
}

div.list_row_details a {
    margin: 0px 5px;
}

div.list_row_details div ul li
{
   font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    line-height: 2em;
}

div.list_row_details div ul li::before
{
   content: "•";
   margin-right: 10px;
}

div.list_row_details div ul li a
{
   margin-left: 10px;
   font-size: 10px;
   font-weight: 400;
}

div.list_row_name_cell a
{
   text-decoration:none;
}

div.list_row_edit_cell
{
   display:inline;
   position:relative;
   top:-20px;
   left: 15px;
}

div.list_row_edit_cell a
{
   text-decoration:none;
   text-transform: uppercase;
   font-size: 10px;
   font-weight: 400;
}

div.list_row_remove_cell
{
   display:inline;
   position:relative;
   top:-20px;
   left: 25px;
}

div.list_row_remove_cell a
{
   text-decoration:none;
   text-transform: uppercase;
   font-size: 10px;
   font-weight: 400;
}

div.permissions_row_details
{
   padding-bottom:15px;
   padding:5px;
   padding-left:30px;
   width:450px;
}

div.permission_row
{
   height:15px;
   padding:5px;
}

div.permission_row_select_all
{
   height:15px;
   padding:5px;
   padding-top:0px;
   margin-right:10px;
}

div.list span
{
   text-align:left;
}

div.link_left
{
   height:10px;
   width:55px;
   position:relative;
   left:404px;
}

div.link_right
{
   height:10px;
   width:75px;
   position:relative;
   left:474px;
   top:-10px; 
}

.role-actions
{
   float: right;
}

div.link_left_channel_group
{
   position:relative;   
   top:-24px;
   float: right;
}

div.link_right_channel_group
{
   height:10px;
   width:75px;
   position:relative;
   left:474px;
   top:-30px; 
}

div.link_left a, link_left_channel_group a, div.link_right a, div.link_right_channel_group a, div.link_right_larger a
{
   /*font-weight:bolder;*/
   text-decoration:none;
}

div#result
{
   padding:10px;
   margin:10px;
   width:540px;
}

div#result.error
{
   border:1px solid #FFA19C;
   background-color: #FFDCDB;
   text-align:left;
   padding-left:15px;
   font-weight:normal;
} 

div#result_title.error
{
   color:#ff0000;
   font-size:11px;
   font-weight:bold;
   text-transform: uppercase;
   text-align:left;
   padding-bottom: 3px;
} 

div#result.success
{
   border:1px solid rgba(0,0,0,0.1);
   background-color: #e7fad5;
   text-align:left;
   padding-left:15px;
   border-radius: 3px;
} 

div#result_title.success
{
   color:#459309;
   font-size:11px;
   font-weight:bold;
   text-transform: uppercase;
   text-align:left;
   padding-bottom: 3px;
}

div#result.indeterminate
{
   display:none;
} 

div.result_buttons_system
{
   float:right;
   text-align:right;
}

div.result_buttons_dialog
{
   text-align:center;
   width:100%;
   font-size:10px;
}

div.result_buttons_system img
{
   width: 12px;
   height: 12px;
} 

div#result_content
{
   color:#343434;
   text-align:left;
   word-wrap:break-word;
} 

div.filter_field input
{
   width:157px;
}

div.filter_field 
{
   width:210px;
   padding-left:5px;
}

div.filter_field_left
{
   width:243px;
   margin-right:63px; 
   float:left;
}

div.filter_field_right
{
   width:243px;
   float:left;
   margin-left: 8px;
}

div.filter_field a.filter_search
{
   height:12px;
   position:relative;
   vertical-align:top;
}

div.filter_field img.filter
{
   vertical-align:top;
}

div.button_right
{
   float:right;
   padding:2px;
}

div#effective_permissions_list
{
   position:relative;
   left:-20px;
}

div.effective_permissions_details 
{
   background:#FFFFFF url(/js/help_popup/ttclose.gif) no-repeat scroll 95% 9px; /* Light Blue Background */
   border: 3px solid #AAAAAA;
   font-size:10px;
   line-height:16px;
   margin:7px 0 0 7px;
   padding:10px 12px 12px;
   position:absolute;
   text-align:left;
   width:250px;
   display:none;
}

div.effective_permissions_details b 
{
   border-bottom:1px solid #AAAAAA;
   color:#555555 !important;  /* Tooltip Heading Color */
   cursor:pointer;
   display:block;
   font-size:10px;
   text-transform: uppercase;
   margin:0 0 10px;
   padding-bottom:5px;
   width:100%;
}

div.effective_permissions_details em 
{
   color:#222222;
   display:block;
   font-style:normal;
   font-weight:normal;
   letter-spacing:0.02em;
   margin:0 0 7px;
}

div.effective_permissions_blurb
{
   padding-bottom:10px;
}

div.effective_permission_button
{
   background-color:#FFFFFF;
   border:1px solid #444444;
   padding:1px;
   margin:2px;
   height:12px;
   text-align:center;
   cursor:pointer;
   font-size:8px;
   font-weight:bold;
   color:#222222;
}

div.view_effective_permission_button
{
   width:30px;
}

div.edit_effective_permission_button
{  
   width:30px;
   visibility:hidden;
   position:relative;
   top:-18px;
   left:36px;
}

div.startstop_effective_permission_button
{  
   width:55px;
   visibility:hidden;
   position:relative;
   top:-36px;
   left:72px;
}

div.export_logs_effective_permission_button
{  
   width:60px;
   visibility:hidden;
   position:relative;
   top:-54px;
   left:133px;
}

div.view_logs_effective_permission_button {  
width:55px;
visibility:hidden;
position:relative;
top:-72px;
left:199px;
}

div.translator_ide_effective_permission_button {  
width:70px;
visibility:hidden;
position:relative;
top:-90px;
left:260px;
}

div#role_channel_group_list
{
   position:relative;
   left:-20px;
}

div#role_list > ul > li, 
div#user_list > ul > li 
{
/*      padding: 10px 0px 20px 0px; */
}

fieldset
{
   border:none;
   width:100%;
   padding:0px;
   padding-left:10px;
   margin:0px;
}

ul
{ 
   margin:0px;
   padding:0px;
}

li
{
   list-style:none;
}

li.generic_control
{
   height:50px;
}

/* TODO Jon M Conflict
li.textarea_control
{
   height:60px;
}
*/

li.membership_control
{
   height:140px;
}

li.enabler_control
{
   padding-top:5px;
   padding-bottom:5px;
}

li.permissions_control
{
   padding-bottom:5px;
}

li.details
{
   list-style:dot;
}

li.effective_channel_permissions_row
{  
   padding-left:20px;
   padding-top:5px;
   height:31px;
   width:570px;
}

li.dark_row_highlighted
{  
   background-color:#F4F4F4; /*ECEFF1*/
   border-bottom: 1px solid #DDDDDD;
   padding: 10px 0px 20px 0px;
}

li.light_row_highlighted
{  
   background-color:#F4F4F4; /*ECEFF1*/
   border-bottom: 1px solid #DDDDDD;
   padding: 10px 0px 20px 0px;
}

li.dark_row
{  
   background-color:#F9F9F9;
   border-bottom: 1px solid #DDDDDD;
   padding: 10px 0px 20px 0px;
}

li.light_row
{  
   background-color:#F9F9F9;
   border-bottom: 1px solid #DDDDDD;
   padding: 10px 0px 20px 0px;
}

input
{
   background:#F3F3F3;
   /* temp transitional style */
   background:#FFFFFF;
}

input.checkbox
{
   background:#FFFFFF;
   margin:0px;
   padding:0px; 
   background:none;
}

input.checkbox_disabled
{
   opacity:0.5;
   filter: alpha(opacity = 50);
   background:#FFFFFF;
   margin:0px;
   padding:0px; 
   background:none;
}

/* TODO Jon M: Conflicts with new styles.
input.text
{
   width:390px;
    font-size: 12px;
    padding: 5px 5px;
} 
*/

textarea.group_description
{
   width:384px;
   /*resize:none;*/
   background:white none repeat scroll 0 0;
   font-family: "Open Sans", sans-serif;
   font-size:12px;
   /*overflow:hidden;*/
   padding:5px;
   word-wrap:break-word;   
}

a 
{
   cursor:pointer;
   border:none;
}

a.button_space
{
   display:inline;
   margin-left:5px;
}

a.label
{
   font-size: 14px;   
   font-weight: 600;
   padding:2px;
   width:90px;
   /* temp transitional style */
   text-decoration: none;
   color:#4CAF50;
}   

a.label_link
{
   font-size:11px;   
   font-weight:bolder;
   padding:2px;
   padding-right:10px;
   width:90px;
   /* temp transitional style */
   text-decoration: none;
}   

a.helpIcon
{
   position:relative;
   left:230px;
   top:-18px;
   height:15px;
}

a.button
{
   margin-right:2px;
   float:none;
}

a.button span
{
   text-align:center;
}

a.button_big
{
   width:150px;
}

a.button_larger
{
   width:80px;
}

a.button_small
{
   width:75px;
}

a.button_smaller
{
   width:55px;
}

a.recipient
{
   cursor:pointer;
}

a.recipient_strong
{
   font-weight:bold;
}

a.cancel
{
   font-size:11px;   
   font-weight:bolder;
   text-decoration:none;
}

table.permission_details
{
   width:300px;     
   border:2px solid #ADB1A5;
   border-collapse:collapse;

}

table.permission_details th
{
   border:2px solid #ADB1A5;
   text-align:center;
}

table.permission_details th.role_header
{
   width:40%;      
}

table.permission_details th.channel_group_header
{
   width:60%;      
}

table.permission_details td
{
   border:2px solid #ADB1A5;
   text-align:center;
}

table.permission_details td.role_cell
{
   width:40%;      
 }

table.permission_details td.channel_group_cell
{
   width:60%;      
}

img
{
   border:none;
}

img.arrow
{
   width:9px;
   height:9px;
}

span.disabled_link
{
   color:rgb(148, 148, 148); 
   cursor: default;
}

.context_help
{
   font-weight:normal;
   font-size:9px;
   color:#787A77;
}

#cookie_crumb
{
   height:26px;
   padding-top:9px;
}

.hidden_place_holder
{
   visibility:hidden;
} 

.hidden_not_place_holder
{
   display:none;
} 

#select_all {
   width: 0px; /* this div was obscuring the "Add Role" and "Cancel" buttons in some cases */
}

